/* --------------------------------------------------
 Reset CSS
 -------------------------------------------------- */
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 12px;
   font-weight: normal;
   vertical-align: baseline;
   background: transparent;
   color: #333; }
 
 body {
   line-height: 1.5;
   font-family: "Roboto", sans-serif; }
 
 span {
   font-size: inherit;
   font-weight: inherit;
   color: inherit; }
 
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block; }
 
 ul, li {
   list-style: none; }
 
 a {
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   text-decoration: none;
   color: #000;
   outline: none; }
 
 a:hover {
   text-decoration: none;
   opacity: 0.7; }
 
 table {
   border-collapse: collapse;
   border-spacing: 0; }
 
 hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #cccccc;
   margin: 1em 0;
   padding: 0; }
 
 input, select {
   vertical-align: middle; }
 
 img {
   vertical-align: bottom; }
 
 sup {
   vertical-align: baseline;
   position: relative;
   top: -1ex; }
 
 button {
   outline: none; }
 
 .clearfix {
   zoom: 1; }
   .clearfix:after {
     content: "";
     display: table;
     clear: both; }
 
 .inline_block {
   display: inline-block;
   display: inline;
   zoom: 1; }
 
 .table_cell {
   display: table-cell;
   display: inline;
   zoom: 1;
   vertical-align: middle; }
 
 .pc {
   display: inherit !important; }
 
 .tb {
   display: none !important; }
 
 .tb_sp {
   display: none !important; }
 
 .sp {
   display: none !important; }
 
 @media screen and (max-width: 1099px) {
   .pc {
     display: inherit !important; }
   .tb {
     display: inherit !important; }
   .tb_sp {
     display: inherit !important; }
   .sp {
     display: none !important; } }
 
 @media screen and (max-width: 767px) {
   .pc {
     display: none !important; }
   .tb {
     display: none !important; }
   .tb_sp {
     display: inherit !important; }
   .sp {
     display: inherit !important; } }
 
 .mt0 {
   margin-top: 0 !important; }
 
 .mt5 {
   margin-top: 5px !important; }
 
 .mt10 {
   margin-top: 10px !important; }
 
 .mt15 {
   margin-top: 15px !important; }
 
 .mt20 {
   margin-top: 20px !important; }
 
 .mt25 {
   margin-top: 25px !important; }
 
 .mt30 {
   margin-top: 30px !important; }
 
 .mb0 {
   margin-bottom: 0 !important; }
 
 .mb5 {
   margin-bottom: 5px !important; }
 
 .mb10 {
   margin-bottom: 10px !important; }
 
 .mb15 {
   margin-bottom: 15px !important; }
 
 .mb20 {
   margin-bottom: 20px !important; }
 
 .mb25 {
   margin-bottom: 25px !important; }
 
 .mb30 {
   margin-bottom: 30px !important; }
 
 .mb40 {
   margin-bottom: 40px !important; }
 
 .mb50 {
   margin-bottom: 50px !important; }
 
 .mb70 {
   margin-bottom: 70px !important; }
 
 .mb75 {
   margin-bottom: 75px !important; }
 
 .mb80 {
   margin-bottom: 80px !important; }
 
 .mr0 {
   margin-right: 0 !important; }
 
 .mr5 {
   margin-right: 5px !important; }
 
 .mr10 {
   margin-right: 10px !important; }
 
 .mr15 {
   margin-right: 15px !important; }
 
 .mr20 {
   margin-right: 20px !important; }
 
 .mr25 {
   margin-right: 25px !important; }
 
 .mr30 {
   margin-right: 30px !important; }
 
 .ml0 {
   margin-left: 0 !important; }
 
 .ml5 {
   margin-left: 5px !important; }
 
 .ml10 {
   margin-left: 10px !important; }
 
 .ml15 {
   margin-left: 15px !important; }
 
 .ml20 {
   margin-left: 20px !important; }
 
 .ml25 {
   margin-left: 25px !important; }
 
 .ml30 {
   margin-left: 30px !important; }
 
 .ml100 {
   margin-left: 100px !important; }
 
 .pt0 {
   padding-top: 0 !important; }
 
 .pt5 {
   padding-top: 5px !important; }
 
 .pt10 {
   padding-top: 10px !important; }
 
 .pt15 {
   padding-top: 15px !important; }
 
 .pt20 {
   padding-top: 20px !important; }
 
 .pt25 {
   padding-top: 25px !important; }
 
 .pt30 {
   padding-top: 30px !important; }
 
 .pt40 {
   padding-top: 40px !important; }
 
 .pt80 {
   padding-top: 80px !important; }
 
 .pb0 {
   padding-bottom: 0 !important; }
 
 .pb5 {
   padding-bottom: 5px !important; }
 
 .pb10 {
   padding-bottom: 10px !important; }
 
 .pb15 {
   padding-bottom: 15px !important; }
 
 .pb20 {
   padding-bottom: 20px !important; }
 
 .pb25 {
   padding-bottom: 25px !important; }
 
 .pb30 {
   padding-bottom: 30px !important; }
 
 .pr0 {
   padding-right: 0 !important; }
 
 .pr5 {
   padding-right: 5px !important; }
 
 .pr10 {
   padding-right: 10px !important; }
 
 .pr15 {
   padding-right: 15px !important; }
 
 .pr20 {
   padding-right: 20px !important; }
 
 .pr25 {
   padding-right: 25px !important; }
 
 .pr30 {
   padding-right: 30px !important; }
 
 .pl0 {
   padding-left: 0 !important; }
 
 .pl5 {
   padding-left: 5px !important; }
 
 .pl10 {
   padding-left: 10px !important; }
 
 .pl15 {
   padding-left: 15px !important; }
 
 .pl20 {
   padding-left: 20px !important; }
 
 .pl25 {
   padding-left: 25px !important; }
 
 .pl30 {
   padding-left: 30px !important; }
 
 .clear {
   clear: both; }
 
 .fl {
   float: left; }
 
 .fr {
   float: right; }
 
 .tar {
   text-align: right; }
 
 .tac {
   text-align: center !important; }
 
 .nowrap {
   white-space: nowrap; }
 
 html {
   font-size: 62.5%; }
 
 body {
   font-size: 1.2em;
   background: #fff;
   position: relative;
   min-height: 1024px;
   /*ipad*/ }
 
 input[type="button"],
 input[type="text"],
 input[type="submit"] {
   -webkit-appearance: none;
   border-radius: 0; }
 
 img {
   max-width: 100%;
   height: auto;
   vertical-align: middle; }
 
 .disable_hover {
   pointer-events: none; }
 
 a[href*="tel:"] {
   pointer-events: none;
   cursor: default; }
   @media screen and (max-width: 1099px) {
     a[href*="tel:"] {
       cursor: pointer;
       pointer-events: auto; } }
 
 @media screen and (max-width: 1099px) {
   a {
     -webkit-tap-highlight-color: transparent; }
   body {
     -webkit-text-size-adjust: 100%;
     overflow-x: auto; } }
 
 /* --------------------------------------------------
  Common Style
  -------------------------------------------------- */
 header .contentInner,
 footer .contentInner {
   width: 1100px;
   margin: 0 auto; }
   @media screen and (max-width: 1099px) {
     header .contentInner,
     footer .contentInner {
       width: 100%;
       padding: 0; } }
   @media screen and (max-width: 767px) {
     header .contentInner,
     footer .contentInner {
       width: auto;
       padding: 0; } }
 
 #wrap {
   width: 100%;
   overflow: hidden; }
 
 #mvBlock {
   position: relative;
   z-index: 20; }
 
 #header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: rgba(255, 255, 255, 0.9);
   border-bottom: 1px solid #fff;
   z-index: 99; }
   @media screen and (max-width: 1099px) {
     #header {
       width: 100%; } }
   @media screen and (max-width: 767px) {
     #header {
       border-bottom: none; } }
   #header .contentInner {
     display: table;
     width: 1100px;
     height: 110px;
     margin: 0 auto; }
     @media screen and (max-width: 1099px) {
       #header .contentInner {
         width: 100%;
         height: 80px;
         padding: 0 20px;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box; } }
     @media screen and (max-width: 767px) {
       #header .contentInner {
         height: 50px;
         padding: 0 10px; } }
     #header .contentInner #logo {
       display: table-cell;
       vertical-align: middle; }
       @media screen and (max-width: 1099px) {
         #header .contentInner #logo {
           width: 150px; } }
       @media screen and (max-width: 1023px) {
         #header .contentInner #logo {
           width: 130px; } }
       @media screen and (max-width: 767px) {
         #header .contentInner #logo a {
           display: block; }
           #header .contentInner #logo a img {
             height: 32px; } }
     #header .contentInner #gNavi {
       display: table-cell;
       vertical-align: middle;
       text-align: right;
       padding-top: 35px;
       position: relative; }
       @media screen and (max-width: 1099px) {
         #header .contentInner #gNavi {
           padding-top: 25px; } }
       @media screen and (max-width: 767px) {
         #header .contentInner #gNavi {
           display: none;
           margin-right: 0 !important; } }
       #header .contentInner #gNavi li {
         display: inline-block;
         vertical-align: middle;
         font-weight: 300;
         margin-left: 4%;
         position: relative;
         font-size: 14px;
         font-size: 1.4rem; }
         @media screen and (max-width: 1099px) {
           #header .contentInner #gNavi li {
             font-size: 11px;
             font-size: 1.1rem;
             margin-left: 2%; } }
         #header .contentInner #gNavi li.attention a {
           background: #f00;
           border: 1px solid #f00;
           color: #fff;
           padding: 5px 20px;
           border-radius: 4px;
           font-weight: bold; }
           #header .contentInner #gNavi li.attention a:hover {
             color: #f00;
             background: #fff;
             opacity: 1; }
         #header .contentInner #gNavi li.current a {
           color: #289DDC; }
         #header .contentInner #gNavi li.pc {
           display: inline-block !important; }
           @media screen and (max-width: 767px) {
             #header .contentInner #gNavi li.pc {
               display: none !important; } }
         #header .contentInner #gNavi li:hover ul,
         #header .contentInner #gNavi li.touch ul {
           display: block; }
         #header .contentInner #gNavi li a {
           color: #000;
           font-size: 14px;
           font-size: 1.4rem;
           letter-spacing: 0.05em;
           -webkit-transition: all 0.2s linear;
           -moz-transition: all 0.2s linear;
           -ms-transition: all 0.2s linear;
           -o-transition: all 0.2s linear;
           transition: all 0.2s linear; }
           #header .contentInner #gNavi li a:hover {
             color: #289DDC;
             opacity: 1; }
           #header .contentInner #gNavi li a.contactBtn {
             font-weight: 400;
             padding: 5px 30px;
             display: block; }
         @media screen and (max-width: 920px) {
           #header .contentInner #gNavi li {
             margin-left: 1.5%; }
             #header .contentInner #gNavi li.attention a {
               padding: 5px 15px;
               font-size: 12px;
               font-size: 1.2rem; }
             #header .contentInner #gNavi li a {
               font-size: 12px;
               font-size: 1.2rem; }
               #header .contentInner #gNavi li a.contactBtn {
                 padding: 5px 15px; } }
       #header .contentInner #gNavi #subNavi {
         position: absolute;
         top: 20px;
         right: 0;
         text-align: right;
         font-size: 0px;
         font-size: 0rem; }
         @media screen and (max-width: 1099px) {
           #header .contentInner #gNavi #subNavi {
             top: 10px; } }
         @media screen and (max-width: 767px) {
           #header .contentInner #gNavi #subNavi {
             width: 100%;
             position: static;
             top: auto; } }
         #header .contentInner #gNavi #subNavi li {
           display: inline-block;
           padding-left: 13px;
           margin-left: 11px;
           position: relative; }
           #header .contentInner #gNavi #subNavi li:not(:first-child):after {
             content: "";
             position: absolute;
             left: 0;
             top: 50%;
             margin-top: -6px;
             width: 1px;
             height: 0.8em;
             background: #aaa; }
           #header .contentInner #gNavi #subNavi li a {
             color: #888;
             font-size: 13px;
             font-size: 1.3rem;
             letter-spacing: 0.05em;
             font-weight: 400;
             display: block; }
             #header .contentInner #gNavi #subNavi li a[href*="tel:"] {
               padding-left: 18px;
               background: url(/eng/common/img/icon_tel.svg) center left no-repeat;
               -webkit-background-size: 1em;
               -o-background-size: 1em;
               background-size: 1em; }
             #header .contentInner #gNavi #subNavi li a:hover {
               opacity: .6; }
     #header .contentInner > .attention {
       position: fixed;
       top: 50px;
       left: 0;
       width: 100%;
       text-align: center;
       height: 50px; }
       #header .contentInner > .attention a {
         padding: 14px 0;
         font-size: 15px;
         font-size: 1.5rem;
         font-weight: bold;
         background: #f00;
         color: #fff;
         display: block;
         cursor: pointer; }
         #header .contentInner > .attention a::after {
           content: "";
           height: 10px;
           width: 10px;
           display: inline-block;
           border-top: 2px solid #fff;
           border-right: 2px solid #fff;
           -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
           vertical-align: middle;
           margin-left: 10px; }
         #header .contentInner > .attention a:hover {
           opacity: 1; }
   #header #menuSP {
     display: none;
     z-index: 20; }
     @media screen and (max-width: 767px) {
       #header #menuSP {
         display: block;
         position: absolute;
         top: 50px;
         left: 0;
         width: 100%;
         background-image: -moz-linear-gradient(-90deg, #5cbee7 0%, #99d88c 100%);
         background-image: -webkit-linear-gradient(-90deg, #5cbee7 0%, #99d88c 100%);
         background-image: -ms-linear-gradient(-90deg, #5cbee7 0%, #99d88c 100%);
         text-align: center; }
         #header #menuSP .inner {
           overflow-y: scroll;
           display: none; }
         #header #menuSP .open a {
           width: 50px;
           height: 20px;
           display: inline-block;
           position: absolute;
           right: 0;
           top: -50px;
           background: #FFF;
           text-align: center;
           padding: 0;
           cursor: pointer;
           font-size: 9px;
           font-size: 0.9rem;
           padding-top: 28px;
           color: #aaa;
           background: url(/eng/common/img/icon_spmenu.svg) center 13px no-repeat;
           -webkit-background-size: 18px;
           -o-background-size: 18px;
           background-size: 18px; }
         #header #menuSP .inner #gNavi {
           display: block !important; }
           #header #menuSP .inner #gNavi ul li {
             display: block;
             border-bottom: 1px solid rgba(255, 255, 255, 0.4);
             font-weight: 300;
             color: #fff;
             margin: 0;
             text-align: left;
             font-size: 16px;
             font-size: 1.6rem; }
             #header #menuSP .inner #gNavi ul li:nth-child(6) {
               background: #fff;
               padding: 12px 15px;
               border-bottom: none; }
               #header #menuSP .inner #gNavi ul li:nth-child(6) a {
                 margin: 0 auto;
                 padding: 12px 15px;
                 display: block; }
             #header #menuSP .inner #gNavi ul li:not(:nth-child(6)) a {
               position: relative;
               display: block;
               color: #fff;
               padding: 13px 15px;
               z-index: 2;
               letter-spacing: 0.075em;
               background: url(/eng/common/img/icon_arw03.svg) 95% center no-repeat;
               -webkit-background-size: 8px;
               -o-background-size: 8px;
               background-size: 8px; }
             #header #menuSP .inner #gNavi ul li ul {
               display: none;
               border-top: 1px solid #fff;
               padding: 10px 0; }
             #header #menuSP .inner #gNavi ul li li {
               font-size: 13px;
               font-size: 1.3rem; }
           #header #menuSP .inner #gNavi #subNavi {
             display: table;
             width: 100%; }
             #header #menuSP .inner #gNavi #subNavi li {
               width: 50%;
               display: table-cell;
               text-align: center; }
               #header #menuSP .inner #gNavi #subNavi li:first-child {
                 border-right: 1px solid rgba(255, 255, 255, 0.4); }
               #header #menuSP .inner #gNavi #subNavi li a {
                 font-size: 13px;
                 font-size: 1.3rem;
                 padding: 15px 15px 15px 30px;
                 background: none; }
                 #header #menuSP .inner #gNavi #subNavi li a[href*="tel:"] {
                   position: relative; }
                   #header #menuSP .inner #gNavi #subNavi li a[href*="tel:"]:after {
                     content: "";
                     position: absolute;
                     left: 50%;
                     top: 50%;
                     margin-left: -5.5em;
                     margin-top: -.7em;
                     width: 1.3em;
                     height: 1.3em;
                     background: url(/eng/common/img/icon_tel_w.svg) center no-repeat;
                     -webkit-background-size: contain;
                     -o-background-size: contain;
                     background-size: contain; }
         #header #menuSP .inner:after {
           content: "";
           position: absolute;
           top: -6px;
           right: 20px;
           display: block;
           width: 0px;
           height: 0px;
           border-style: solid;
           border-width: 0 5px 6px 5px;
           border-color: transparent transparent #5cbee7 transparent; }
         #header #menuSP .close {
           font-size: 14px;
           font-size: 1.4rem;
           letter-spacing: 0.05em; }
           #header #menuSP .close a {
             position: relative;
             color: #fff;
             display: block;
             padding: 15px 0;
             cursor: pointer; } }
 
 #mainContent {
   position: relative;
   clear: both;
   padding-top: 110px;
   padding-bottom: 100px; }
   @media screen and (max-width: 1099px) {
     #mainContent {
       padding-top: 80px;
       padding-bottom: 60px; } }
   @media screen and (max-width: 767px) {
     #mainContent {
       padding-top: 100px;
       padding-bottom: 40px; } }
 
 #pageTop {
   width: 100%;
   height: 70px;
   cursor: pointer;
   background: #fff url(/eng/common/img/footer_pagetop.svg) center no-repeat;
   position: relative;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   transition: all 0.2s linear; }
   @media screen and (max-width: 767px) {
     #pageTop {
       height: 50px;
       background: #fff url(/eng/common/img/footer_pagetop.svg) center no-repeat;
       -webkit-background-size: 25px;
       -o-background-size: 25px;
       background-size: 25px; } }
   #pageTop:before, #pageTop:after {
     content: "";
     display: block;
     position: absolute;
     bottom: 0;
     left: 50%;
     margin-left: -50vw;
     width: 100vw;
     height: 1px;
     background: url(/eng/common/img/bg_gradient_line2_ForIE9.png) center repeat-y;
     -webkit-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background: -moz-linear-gradient(0deg, #88d1f0 0%, #b5e5ab 100%);
     background: -webkit-linear-gradient(0deg, #88d1f0 0%, #b5e5ab 100%);
     background: -ms-linear-gradient(0deg, #88d1f0 0%, #b5e5ab 100%); }
   #pageTop:before {
     top: 0;
     bottom: auto; }
   #pageTop:hover {
     opacity: .5; }
 
 #breadcrumb {
   width: 100%;
   background: #fff; }
   #breadcrumb ol {
     width: 1100px;
     margin: 0 auto;
     padding: 10px 0;
     font-size: 0px;
     font-size: 0rem; }
     @media screen and (max-width: 1099px) {
       #breadcrumb ol {
         width: 95%; } }
     @media screen and (max-width: 767px) {
       #breadcrumb ol {
         width: 95%; } }
     #breadcrumb ol li {
       display: inline-block;
       letter-spacing: 0.075em; }
       #breadcrumb ol li a, #breadcrumb ol li > span {
         color: #289ddd; }
       #breadcrumb ol li a {
         color: #888; }
         #breadcrumb ol li a:after {
           content: url(/eng/common/img/icon_arw01.svg);
           padding: 0 15px; }
 
 #footer {
   width: 100%;
   display: table; }
   #footer #footer01 {
     background: #f9f9f9;
     position: relative; }
     #footer #footer01:after {
       content: "";
       display: block;
       position: absolute;
       bottom: 0;
       left: 50%;
       margin-left: -50vw;
       width: 100vw;
       height: 1px;
       background: url(/eng/common/img/bg_gradient_line2_ForIE9.png) center repeat-y;
       -webkit-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       background: -moz-linear-gradient(0deg, #88d1f0 0%, #b5e5ab 100%);
       background: -webkit-linear-gradient(0deg, #88d1f0 0%, #b5e5ab 100%);
       background: -ms-linear-gradient(0deg, #88d1f0 0%, #b5e5ab 100%); }
     #footer #footer01 .contentInner {
       display: table;
       table-layout: fixed; }
       @media screen and (max-width: 767px) {
         #footer #footer01 .contentInner {
           display: block; } }
       #footer #footer01 .contentInner > ul {
         display: table-cell;
         padding: 50px 0;
         vertical-align: top; }
         @media screen and (max-width: 1099px) {
           #footer #footer01 .contentInner > ul {
             padding: 40px 0 30px; } }
         @media screen and (max-width: 767px) {
           #footer #footer01 .contentInner > ul {
             padding: 20px 0;
             display: block; } }
         #footer #footer01 .contentInner > ul.menu01 {
           width: 54.54545%;
           padding-right: 9.09091%; }
           @media screen and (max-width: 1099px) {
             #footer #footer01 .contentInner > ul.menu01 {
               width: 50%;
               padding-right: 50px; } }
           @media screen and (max-width: 1023px) {
             #footer #footer01 .contentInner > ul.menu01 {
               padding-right: 20px; } }
           @media screen and (max-width: 767px) {
             #footer #footer01 .contentInner > ul.menu01 {
               width: 100%;
               padding: 0; } }
           @media screen and (max-width: 1099px) {
             #footer #footer01 .contentInner > ul.menu01 .according {
               padding-bottom: 30px; } }
           @media screen and (max-width: 767px) {
             #footer #footer01 .contentInner > ul.menu01 .according {
               padding: 0; } }
           #footer #footer01 .contentInner > ul.menu01 .according .footerTtl {
             padding: 0 20px; }
           #footer #footer01 .contentInner > ul.menu01 .according ul {
             padding: 0 20px;
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
             box-sizing: border-box; }
             @media screen and (max-width: 1099px) {
               #footer #footer01 .contentInner > ul.menu01 .according ul {
                 padding: 0 0 0 20px; } }
             @media screen and (max-width: 767px) {
               #footer #footer01 .contentInner > ul.menu01 .according ul {
                 padding: 0; } }
         #footer #footer01 .contentInner > ul.menu02 {
           width: 45.45455%; }
           @media screen and (max-width: 1099px) {
             #footer #footer01 .contentInner > ul.menu02 {
               width: 50%; }
               #footer #footer01 .contentInner > ul.menu02 .according .footerTtl {
                 padding: 0 20px; } }
           @media screen and (max-width: 767px) {
             #footer #footer01 .contentInner > ul.menu02 {
               width: 100%; } }
     #footer #footer01 li {
       font-size: 14px;
       font-size: 1.4rem;
       overflow: hidden; }
       #footer #footer01 li .footerTtl {
         margin-bottom: 50px; }
         @media screen and (max-width: 1099px) {
           #footer #footer01 li .footerTtl {
             margin: 30px 0; } }
         @media screen and (max-width: 767px) {
           #footer #footer01 li .footerTtl {
             text-align: left;
             margin: 20px 0;
             background: url(/eng/common/img/icon_plus01.svg) 95% center no-repeat;
             -webkit-background-size: contain;
             -o-background-size: contain;
             background-size: contain; }
             #footer #footer01 li .footerTtl.active {
               background: url(/eng/common/img/icon_minus01.svg) 95% center no-repeat;
               -webkit-background-size: contain;
               -o-background-size: contain;
               background-size: contain; } }
       #footer #footer01 li ul {
         float: left;
         width: 50%; }
         @media screen and (max-width: 767px) {
           #footer #footer01 li ul {
             width: 100%;
             float: none;
             overflow: hidden; } }
   @media screen and (max-width: 767px) and (max-width: 767px) {
     #footer #footer01 li ul:last-child li:last-child {
       width: 95%;
       margin: 0 auto;
       float: none;
       clear: both; } }
         #footer #footer01 li ul li {
           color: #eee;
           font-size: 16px;
           font-size: 1.6rem;
           margin-bottom: 25px; }
           @media screen and (max-width: 767px) {
             #footer #footer01 li ul li {
               margin-bottom: 0;
               width: 50%;
               float: left; } }
           #footer #footer01 li ul li:last-child {
             margin-bottom: 0; }
           #footer #footer01 li ul li a {
             color: #666; }
             @media screen and (max-width: 767px) {
               #footer #footer01 li ul li a {
                 display: block;
                 font-size: 14px;
                 font-size: 1.4rem;
                 letter-spacing: 0.05em;
                 font-weight: 300;
                 border-bottom: 1px solid #e5e5e5;
                 text-align: center;
                 padding: 15px 0; }
                 #footer #footer01 li ul li a:nth-child(2n+1) {
                   border-right: 1px solid #e5e5e5; } }
             #footer #footer01 li ul li a.blankLink::after {
               vertical-align: text-top; }
             #footer #footer01 li ul li a.contactBtn {
               display: inline-block;
               padding: 10px 50px; }
               @media screen and (max-width: 1099px) {
                 #footer #footer01 li ul li a.contactBtn {
                   padding: 10px 0;
                   width: 100%; } }
               @media screen and (max-width: 767px) {
                 #footer #footer01 li ul li a.contactBtn {
                   display: block;
                   padding: 15px 0;
                   font-size: 16px;
                   font-size: 1.6rem;
                   font-weight: 400;
                   margin-top: 15px;
                   border: none !important; } }
           #footer #footer01 li ul li ul {
             float: none;
             width: auto; }
             #footer #footer01 li ul li ul li {
               margin: 15px 0 0 15px; }
               @media screen and (max-width: 767px) {
                 #footer #footer01 li ul li ul li {
                   margin-top: 0; } }
               #footer #footer01 li ul li ul li a {
                 color: #bbb;
                 font-size: 13px;
                 font-size: 1.3rem; }
           #footer #footer01 li ul li.blankLink a {
             letter-spacing: 0.05em; }
     #footer #footer01 .fbBox {
       width: 100%;
       height: 250px; }
       @media screen and (max-width: 1099px) {
         #footer #footer01 .fbBox {
           width: 100%;
           margin: 0 auto;
           overflow: hidden;
           clear: both;
           float: none;
           text-align: center; } }
       #footer #footer01 .fbBox .fb-page {
         width: 500px;
         height: 250px; }
         @media screen and (max-width: 1099px) {
           #footer #footer01 .fbBox .fb-page {
             float: none;
             clear: both;
             display: block;
             width: 500px;
             height: 300px;
             margin: 0 auto; } }
         @media screen and (max-width: 1099px) {
           #footer #footer01 .fbBox .fb-page {
             width: 90%; } }
   #footer #footer02 {
     width: 1100px;
     margin: 0 auto;
     background: #fff; }
     @media screen and (max-width: 1099px) {
       #footer #footer02 {
         width: 95%; } }
     #footer #footer02 ul {
       float: left; }
       @media screen and (max-width: 767px) {
         #footer #footer02 ul {
           float: none;
           text-align: center;
           padding: 20px 0 0; } }
       #footer #footer02 ul li {
         float: left;
         line-height: 60px;
         padding-right: 13px;
         margin-right: 13px;
         position: relative; }
         @media screen and (max-width: 767px) {
           #footer #footer02 ul li {
             float: none;
             display: inline-block;
             text-align: center;
             line-height: 1; }
             #footer #footer02 ul li:last-child {
               padding-right: 0;
               margin-right: 0; } }
         #footer #footer02 ul li:not(:last-child):after {
           content: "";
           position: absolute;
           right: 0;
           top: 50%;
           margin-top: -4px;
           width: 1px;
           height: 0.8em;
           background: #aaa; }
         #footer #footer02 ul li a {
           font-size: 12px;
           font-size: 1.2rem;
           color: #888;
           letter-spacing: 0.075em;
           font-weight: 300; }
     #footer #footer02 .copyright {
       float: right;
       line-height: 60px;
       color: #FFF;
       text-align: right;
       font-size: 12px;
       font-size: 1.2rem;
       color: #888;
       letter-spacing: 0.075em;
       font-weight: 300; }
       @media screen and (max-width: 767px) {
         #footer #footer02 .copyright {
           line-height: 1;
           padding: 20px 0 20px;
           text-align: center;
           float: none; } }
 
 .btnType01 {
   display: inline-block;
   text-decoration: none !important;
   position: relative;
   opacity: 1 !important; }
   .btnType01 span {
     color: #30a8e2 !important;
     font-weight: 400;
     letter-spacing: 0.05em;
     font-size: 14px;
     font-size: 1.4rem;
     border-radius: 5px;
     display: block;
     position: relative;
     z-index: 2;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -ms-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
     background: url(/eng/common/img/icon_arw03.svg) 87% center no-repeat;
     -webkit-background-size: 7px;
     -o-background-size: 7px;
     background-size: 7px; }
   .btnType01:hover span {
     color: #FFF !important;
     background-position: 90% center; }
   .btnType01:hover:before {
     opacity: 0; }
   .btnType01:before {
     content: "";
     display: block;
     position: absolute;
     border-radius: 5px;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #FFF;
     z-index: 1;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -ms-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear; }
   .btnType01:after {
     content: "";
     display: block;
     position: absolute;
     border-radius: 6px;
     top: -1px;
     left: -1px;
     width: 100%;
     height: 100%;
     padding-bottom: 2px;
     padding-right: 2px;
     background: url(/eng/common/img/bg_gradient_ForIE9.png) center repeat-y;
     -webkit-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-image: -moz-linear-gradient(0deg, #5cbee7 0%, #99d88c 100%);
     background-image: -webkit-linear-gradient(0deg, #5cbee7 0%, #99d88c 100%);
     background-image: -ms-linear-gradient(0deg, #5cbee7 0%, #99d88c 100%);
     z-index: 0; }
 
 .contactBtn {
   -webkit-border-radius: 5px;
   border-radius: 5px;
   overflow: hidden;
   background: #f1b645;
   color: #FFF !important;
   text-align: center;
   display: inline-block;
   letter-spacing: 0.1em;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   transition: all 0.2s linear; }
 
 .contactBtn:hover {
   background: #fff;
   color: #E8A11A !important;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2); }
 
 .blankLink::after {
   content: " ";
   display: inline-block;
   background: url(/eng/common/img/icon_blank.svg) center no-repeat;
   vertical-align: middle;
   width: 18px;
   height: 16px;
   -webkit-background-size: 15px;
   -o-background-size: 15px;
   background-size: 15px;
   margin-left: 10px; }
 
 .blankLink_g::after {
   content: " ";
   display: inline-block;
   background: url(/eng/common/img/icon_blank_g.svg) top center no-repeat;
   -webkit-background-size: 15px;
   -o-background-size: 15px;
   background-size: 15px;
   vertical-align: middle;
   width: 19px;
   height: 16px;
   margin-left: 5px; }
 
 .dlLink::after {
   content: " ";
   display: inline-block;
   background: url(/eng/common/img/icon_download.svg) top center no-repeat;
   -webkit-background-size: 15px;
   -o-background-size: 15px;
   background-size: 15px;
   vertical-align: middle;
   width: 17px;
   height: 17px;
   margin-left: 5px; }
 
 .pagination {
   text-align: center;
   padding: 30px 0; }
   .pagination .screen-reader-text {
     display: none; }
   .pagination .nav-links {
     font-size: 22px;
     font-size: 2.2rem;
     color: #888; }
     .pagination .nav-links a {
       color: #888;
       display: inline-block;
       padding: 0 2px;
       margin: 0 3px;
       vertical-align: top; }
     .pagination .nav-links .current {
       border-bottom: 2px solid #4b9944;
       display: inline-block;
       padding: 0 2px;
       margin: 0 3px; }
     .pagination .nav-links .prev {
       color: rgba(136, 136, 136, 0);
       width: 20px;
       overflow: hidden; }
       .pagination .nav-links .prev::before {
         content: "<";
         color: #888888; }
     .pagination .nav-links .next {
       color: rgba(136, 136, 136, 0);
       width: 20px;
       overflow: hidden; }
       .pagination .nav-links .next::before {
         content: ">";
         color: #888888; }
 
 #mainContent .contentInnerS {
   width: 1000px;
   max-width: 1000px;
   margin: 0 auto; }
   @media screen and (max-width: 1099px) {
     #mainContent .contentInnerS {
       margin: 0 10px;
       width: auto; } }
 
 .figure.right {
   float: right;
   margin: 0 0 20px 20px; }
 
 .figure.left {
   float: left;
   margin: 0 20px 20px 0; }
 
 .figure.center {
   text-align: center; }
 
 .figure.multiple {
   margin-bottom: 20px; }
   .figure.multiple li {
     display: inline-block;
     padding: 0 5px; }
 
 .figure .zoomBox {
   display: inline-block;
   position: relative; }
   .figure .zoomBox a {
     pointer-events: none; }
     @media screen and (max-width: 767px) {
       .figure .zoomBox a {
         pointer-events: auto; } }
     .figure .zoomBox a:hover {
       opacity: 1 !important;
       cursor: default; }
       @media screen and (max-width: 767px) {
         .figure .zoomBox a:hover {
           opacity: 0.7;
           cursor: pointer; } }
   .figure .zoomBox .zoom {
     display: none;
     width: 48px;
     height: 0;
     padding-top: 48px;
     overflow: hidden !important;
     background: url("/eng/common/img/icon_zoom.svg") no-repeat;
     position: absolute;
     right: 10px;
     bottom: 10px; }
     @media screen and (max-width: 767px) {
       .figure .zoomBox .zoom {
         display: block; } }
 
 @media screen and (max-width: 767px) {
   .figure {
     float: none !important;
     text-align: center;
     margin: 0; } }
 
 .titleStyle01 {
   text-align: center;
   font-size: 26px !important;
   position: relative;
   padding-bottom: 10px;
   margin-bottom: 30px; }
   .titleStyle01::after {
     content: "";
     width: 30px;
     height: 2px;
     background: #3EB134;
     position: absolute;
     bottom: 0px;
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%); }
 
 .titleStyle02 {
   font-size: 24px !important;
   text-align: center;
   margin-bottom: 40px; }
   .titleStyle02 span {
     height: 5px;
     background: #DAE6D8;
     background: -moz-linear-gradient(top, rgba(218, 230, 216, 0) 0%, rgba(218, 230, 216, 0) 66%, #dae6d8 67%, #dae6d8 100%);
     background: -webkit-linear-gradient(top, rgba(218, 230, 216, 0) 0%, rgba(218, 230, 216, 0) 66%, #dae6d8 67%, #dae6d8 100%);
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 230, 216, 0)), color-stop(66%, rgba(218, 230, 216, 0)), color-stop(67%, #dae6d8), to(#dae6d8));
     background: linear-gradient(to bottom, rgba(218, 230, 216, 0) 0%, rgba(218, 230, 216, 0) 66%, #dae6d8 67%, #dae6d8 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dae6d8', endColorstr='#dae6d8',GradientType=0 ); }
 
 .titleStyle03 {
   font-size: 24px !important;
   margin-bottom: 10px; }
 
 .titleStyle04 {
   font-size: 20px !important;
   margin-bottom: 15px; }
   .titleStyle04::before {
     content: "-"; }
 
 .titleStyle05 {
   font-size: 22px !important;
   position: relative;
   padding-left: 40px;
   margin-bottom: 15px; }
   .titleStyle05::before {
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     display: inline-block;
     width: 30px;
     height: 30px;
     border-radius: 15px;
     background: url("/common/img/bk01.png") #000; }
   .titleStyle05::after {
     content: "";
     position: absolute;
     left: 10px;
     top: 10px;
     display: inline-block;
     width: 10px;
     height: 10px;
     border-radius: 5px;
     background: #FFF; }
 
 .titleStyle06 {
   font-size: 24px !important;
   color: #1E8D14; }
   .titleStyle06 span {
     height: 5px;
     background: #DAE6D8;
     background: -moz-linear-gradient(top, rgba(218, 230, 216, 0) 0%, rgba(218, 230, 216, 0) 66%, #dae6d8 67%, #dae6d8 100%);
     background: -webkit-linear-gradient(top, rgba(218, 230, 216, 0) 0%, rgba(218, 230, 216, 0) 66%, #dae6d8 67%, #dae6d8 100%);
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 230, 216, 0)), color-stop(66%, rgba(218, 230, 216, 0)), color-stop(67%, #dae6d8), to(#dae6d8));
     background: linear-gradient(to bottom, rgba(218, 230, 216, 0) 0%, rgba(218, 230, 216, 0) 66%, #dae6d8 67%, #dae6d8 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dae6d8', endColorstr='#dae6d8',GradientType=0 ); }
 
 .titleStyle07 {
   font-size: 18px !important;
   border-bottom: 2px solid #aaa;
   padding-bottom: 5px;
   margin-bottom: 10px; }
 
 .listStyle03 {
   padding: 100px 0; }
   .listStyle03:after {
     content: "";
     clear: both;
     display: block; }
   .listStyle03.num2 li {
     width: 45%;
     margin-left: 10%; }
   .listStyle03.num1 li {
     width: 100%;
     margin-left: 0; }
   .listStyle03.num {
     text-align: center; }
     .listStyle03.num li {
       width: auto;
       display: inline-block;
       margin: 0 20px;
       float: none; }
       @media screen and (max-width: 767px) {
         .listStyle03.num li {
           margin: 0 0 20px; } }
   .listStyle03 li {
     text-align: center;
     width: 30%;
     float: left;
     margin-left: 5%;
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease; }
     @media screen and (max-width: 767px) {
       .listStyle03 li {
         width: auto !important;
         float: none;
         margin: 0 0 30px 0 !important; } }
     .listStyle03 li.clickbox {
       cursor: pointer; }
       .listStyle03 li.clickbox:hover {
         opacity: 0.7; }
     .listStyle03 li:first-child {
       margin-left: 0; }
     .listStyle03 li .img {
       margin-bottom: 10px; }
     .listStyle03 li .txt {
       font-size: 18px;
       font-size: 1.8rem;
       font-weight: bold; }
 
 .listStyle06 {
   display: table;
   width: 100%;
   border-bottom: 1px solid #DBDBDB; }
   .listStyle06 li {
     display: table-row; }
     .listStyle06 li:after {
       content: "";
       clear: both;
       display: block; }
     @media screen and (max-width: 767px) {
       .listStyle06 li {
         display: block; } }
     .listStyle06 li .img {
       display: table-cell;
       vertical-align: top;
       padding: 30px 30px 30px 0;
       border-top: 1px solid #DBDBDB; }
       @media screen and (max-width: 767px) {
         .listStyle06 li .img {
           padding: 10px 0;
           text-align: center;
           display: block; } }
       .listStyle06 li .img.news img {
         width: 190px; }
       .listStyle06 li .img img {
         max-width: inherit; }
         @media screen and (max-width: 767px) {
           .listStyle06 li .img img {
             max-width: 100%; } }
     .listStyle06 li .txt {
       display: table-cell;
       vertical-align: top;
       padding: 30px 0px 30px 0;
       border-top: 1px solid #DBDBDB; }
       @media screen and (max-width: 767px) {
         .listStyle06 li .txt {
           padding: 0 0 10px;
           display: block;
           border-top: none; } }
       .listStyle06 li .txt dl dt {
         font-size: 22px;
         font-size: 2.2rem;
         margin-bottom: 5px; }
       .listStyle06 li .txt dl .date {
         font-size: 16px;
         font-size: 1.6rem;
         margin-bottom: 5px; }
       .listStyle06 li .txt dl .txt01 {
         font-size: 16px;
         font-size: 1.6rem;
         margin-bottom: 23px; }
       .listStyle06 li .txt .btnStyle01 {
         text-align: left; }
         .listStyle06 li .txt .btnStyle01 a {
           text-align: center; }
           @media screen and (max-width: 767px) {
             .listStyle06 li .txt .btnStyle01 a {
               display: block; } }
         .listStyle06 li .txt .btnStyle01.pdf a {
           background: url("/common/img/icon_pdf.png") no-repeat right 10px center;
           background-size: 15px; }
           @media screen and (max-width: 767px) {
             .listStyle06 li .txt .btnStyle01.pdf a {
               background: none;
               background-position: 20px 7px; }
               .listStyle06 li .txt .btnStyle01.pdf a::after {
                 content: "";
                 display: inline-block;
                 height: 20px;
                 width: 20px;
                 vertical-align: middle;
                 background: url("/common/img/icon_pdf.png") no-repeat;
                 background-size: contain;
                 margin: 0 0 0 5px; } }
 
 .listStyle09 {
   letter-spacing: -0.3em; }
   .listStyle09 dl {
     letter-spacing: normal;
     vertical-align: top;
     padding: 0 10px;
     margin-bottom: 20px;
     width: 33%;
     display: inline-block;
     -webkit-box-sizing: border-box;
     box-sizing: border-box; }
     @media screen and (max-width: 767px) {
       .listStyle09 dl {
         width: auto;
         padding: 0;
         display: block; } }
     .listStyle09 dl.type01 dt {
       border-color: #53A819;
       color: #53A819; }
     .listStyle09 dl.type02 dt {
       border-color: #32b2b3;
       color: #32b2b3; }
     .listStyle09 dl.type03 dt {
       border-color: #398bd7;
       color: #398bd7; }
     .listStyle09 dl dt {
       font-size: 18px;
       font-size: 1.8rem;
       font-weight: bold;
       margin-bottom: 20px;
       border-bottom: 3px solid #ccc; }
     .listStyle09 dl dd {
       font-size: 16px;
       font-size: 1.6rem; }
 
 .listStyle10 li {
   font-size: 16px;
   font-size: 1.6rem; }
 
 .tableStyle01 {
   border: 1px solid #ccc;
   margin-bottom: 20px;
   width: 100%; }
   .tableStyle01 tr th {
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     padding: 5px;
     text-align: left;
     white-space: nowrap;
     font-size: 16px;
     font-size: 1.6rem; }
   .tableStyle01 tr td {
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     padding: 5px;
     text-align: left;
     font-size: 16px;
     font-size: 1.6rem; }
 
 .tableStyle02 {
   border: 3px solid #ddd;
   margin-bottom: 20px;
   width: 100%; }
   .tableStyle02.even {
     margin-right: 0; }
   .tableStyle02 tr.subttl td, .tableStyle02 tr.subttl th {
     border-top: 3px solid #ddd; }
   .tableStyle02 tr th {
     padding: 2px 5px;
     font-weight: bold;
     text-align: left;
     font-size: 16px;
     font-size: 1.6rem; }
   .tableStyle02 tr td {
     padding: 2px 5px;
     font-size: 16px;
     font-size: 1.6rem; }
 
 .btnStyle01 {
   text-align: center;
   font-size: 16px;
   font-size: 1.6rem; }
   .btnStyle01 a {
     display: inline-block;
     padding: 8px 15px;
     border: 1px solid #B7B7B7;
     color: #000;
     min-width: 120px;
     text-align: center;
     background: rgba(255, 255, 255, 0.7); }
 
 .boxStyle01 {
   display: table;
   margin: 0 auto;
   min-width: 750px;
   margin-bottom: 30px; }
   @media screen and (max-width: 767px) {
     .boxStyle01 {
       width: 100%;
       min-width: inherit; } }
   .boxStyle01 .ttl {
     display: table-row;
     font-size: 24px;
     font-size: 2.4rem; }
     .boxStyle01 .ttl span {
       display: table-cell;
       padding-bottom: 10px; }
   .boxStyle01 .subttl {
     display: table-row;
     font-size: 20px;
     font-size: 2rem; }
     .boxStyle01 .subttl span {
       display: table-cell;
       padding-bottom: 5px; }
   .boxStyle01 .img {
     vertical-align: top;
     display: table-cell;
     padding-right: 25px; }
     @media screen and (max-width: 767px) {
       .boxStyle01 .img {
         display: block;
         padding-right: 0;
         margin-bottom: 10px;
         text-align: center; } }
     .boxStyle01 .img.office {
       width: 160px; }
     .boxStyle01 .img img {
       max-width: inherit; }
       @media screen and (max-width: 767px) {
         .boxStyle01 .img img {
           max-width: 100%; } }
   .boxStyle01 .txt {
     font-size: 16px;
     font-size: 1.6rem;
     vertical-align: top;
     display: table-cell;
     position: relative; }
     @media screen and (max-width: 767px) {
       .boxStyle01 .txt {
         display: block; } }
     .boxStyle01 .txt .boxBtm {
       position: absolute;
       margin: 0;
       bottom: 0;
       left: 0; }
       @media screen and (max-width: 767px) {
         .boxStyle01 .txt .boxBtm {
           position: static; } }
       @media screen and (max-width: 767px) {
         .boxStyle01 .txt .boxBtm .btnStyle01 a {
           min-width: inherit;
           display: block; } }
 
 .boxStyle06 {
   border-bottom: 5px solid #073190;
   margin-bottom: 50px; }
   .boxStyle06:after {
     content: "";
     clear: both;
     display: block; }
   .boxStyle06.right {
     text-align: right; }
     .boxStyle06.right .img {
       margin: 0 0 0 20px; }
     .boxStyle06.right .txt .num span {
       margin: 0 10px 0 0; }
   .boxStyle06 .img {
     margin-right: 20px;
     display: inline-block;
     vertical-align: bottom; }
     @media screen and (max-width: 767px) {
       .boxStyle06 .img {
         max-width: 20%; } }
   .boxStyle06 .txt {
     display: inline-block;
     vertical-align: bottom; }
     @media screen and (max-width: 767px) {
       .boxStyle06 .txt {
         max-width: 72%; } }
     .boxStyle06 .txt .ttl {
       font-size: 32px;
       font-size: 3.2rem;
       margin: 0;
       color: #666;
       font-weight: lighter; }
       @media screen and (max-width: 767px) {
         .boxStyle06 .txt .ttl {
           font-size: 22px;
           font-size: 2.2rem;
           line-height: 1.2; } }
     .boxStyle06 .txt .num {
       color: #073190;
       font-size: 120px;
       font-size: 12rem;
       margin: 0;
       line-height: 1;
       font-weight: bold; }
       @media screen and (max-width: 767px) {
         .boxStyle06 .txt .num {
           font-size: 40px;
           font-size: 4rem; } }
       .boxStyle06 .txt .num span {
         color: #073190;
         font-size: 32px;
         font-size: 3.2rem;
         display: inline-block;
         line-height: 1;
         margin-left: 10px; }
         @media screen and (max-width: 767px) {
           .boxStyle06 .txt .num span {
             font-size: 14px;
             font-size: 1.4rem; } }
 
 .boxStyle07 {
   text-align: center;
   background: #a6b1cc;
   background: -moz-linear-gradient(top, #a6b1cc 70%, white 70%);
   background: -webkit-linear-gradient(top, #a6b1cc 70%, white 70%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #a6b1cc), color-stop(70%, white));
   background: linear-gradient(to bottom, #a6b1cc 70%, white 70%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b1cc', endColorstr='#ffffff',GradientType=0 );
   padding: 55px 0; }
   @media screen and (max-width: 767px) {
     .boxStyle07 {
       padding: 20px 0;
       background: #a6b1cc; } }
   .boxStyle07 .ttl {
     line-height: 1.2 !important;
     font-size: 32px !important;
     color: #fff !important;
     font-weight: bold !important;
     text-align: center !important; }
     @media screen and (max-width: 767px) {
       .boxStyle07 .ttl {
         font-size: 20px !important;
         margin-bottom: 0 !important; } }
 
 .column:after {
   content: "";
   clear: both;
   display: block; }
 
 .column .clm37 {
   width: 37%;
   float: left; }
   @media screen and (max-width: 767px) {
     .column .clm37 {
       width: auto;
       float: none;
       margin-bottom: 30px; } }
 
 .column .clm63 {
   width: 63%;
   float: left;
   padding-left: 35px; }
   @media screen and (max-width: 767px) {
     .column .clm63 {
       width: auto;
       float: none;
       padding-left: 0; } }
 
 .column .clm50 {
   width: 50%;
   float: left; }
   @media screen and (max-width: 767px) {
     .column .clm50 {
       width: auto;
       float: none;
       margin-bottom: 30px; } }
 
 .column .clm47_5 {
   width: 47.5%;
   float: left;
   margin-right: 5%; }
   .column .clm47_5:nth-of-type(even) {
     margin-right: 0; }
   @media screen and (max-width: 767px) {
     .column .clm47_5 {
       width: auto;
       float: none;
       margin-bottom: 30px;
       margin-right: 0; } }
 